<div class="container">
    <div class="row">
        <div class="col" *ngIf="!pasaporte">
            <p class="alert alert-danger">Pasaporte de comunicación no encontrado</p>
        </div>
        <div class="col" *ngIf="pasaporte">
            <h1 class="text-center">Pasaporte de comunicación de {{pasaporte.nombre}} {{pasaporte.apellido1}} {{pasaporte
                .apellido2}}</h1>
            <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Información personal</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <th scope="row">Nombre</th>
                                                    <td>{{ pasaporte.nombre }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Apellidos</th>
                                                    <td>{{ pasaporte.apellido1 }} {{pasaporte.apellido2}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Edad</th>
                                                    <td>{{ edad(pasaporte) }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Identificador</th>
                                                    <td>{{pasaporte.id}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <img alt="Foto de {{pasaporte.nombre}}" src="assets/boy.webp" class="rounded img-fluid">
                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div *ngFor="let seccion of pasaporte.secciones" ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            {{ seccion.nombre }}
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="container">
                                    <div class="row">
                                        <div class="col" [innerHTML]="seccion.contenido">
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>