<div class="container">
    <div class="row">
        <div class="col">

            <h1 class="text-center">Pasaporte de comunicación de Zacundo Rozas</h1>
            <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Información personal</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <th scope="row">Nombre</th>
                                                    <td>Zacundo</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Apellidos</th>
                                                    <td>Rozas</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Edad</th>
                                                    <td>10</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <img alt="Foto de Zacundo" src="assets/boy.webp" class="rounded img-fluid">
                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Contactos de emergencia
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Relación</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Teléfono</th>
                                        <th scope="col">E-mail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Padre</td>
                                        <td>Mark</td>
                                        <td>673987987</td>
                                        <td>mark&#64;google.com</td>
                                    </tr>
                                    <tr>
                                        <td>Madre</td>
                                        <td>Rosa</td>
                                        <td>673767987</td>
                                        <td>rosa&#64;google.com</td>
                                    </tr>
                                    <tr>
                                        <td>Abuela</td>
                                        <td>Clotilde</td>
                                        <td>673987987</td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Medicación
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Medicina</th>
                                        <th scope="col">Hora/Frecuencia</th>
                                        <th scope="col">Dosis</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Ibuprofeno</td>
                                        <td>Cada 8h</td>
                                        <td>20mg</td>
                                    </tr>
                                    <tr>
                                    <td>Salbutamol</td>
                                    <td>Mañana y noche</td>
                                    <td>Dos puff</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Diagnóstico
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </ng-template>
                        </div>
                    </div>
                </div>


                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Datos médicos
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Problemas de visión</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Problemas de audición</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Crisis epilépticas</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Problemas motrices</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Crisis de sueño</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Estrategias para comunicación eficaz
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Me comunico con:</h5>
                                            <ul>
                                                <li>Habla</li>
                                                <li>Gestos</li>
                                                <li>Pictogramas/fotos</li>
                                                <li>Dispositivo electrónico</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Me comunico para:</h5>
                                            <ul>
                                                <li>Pedir cosas</li>
                                                <li>Rechazar/afirmar</li>
                                                <li>Interacción social</li>
                                                <li>Intercambio de información</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Mis temas de conversión preferidos son:</h5>
                                            <ul>
                                                <li>Ordenadores</li>
                                                <li>Insectos</li>
                                                <li>Dinosaurios</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>


                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Comunicación verbal
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Cómo mantenerme a salvo
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Perfil sensorial
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Gustos
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Cosas que me gustan</h5>
                                            <ul>
                                                <li>Escuchar música</li>
                                                <li>Ver televisión</li>
                                                <li>Comer pizza</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Cosas que no me gustan</h5>
                                            <ul>
                                                <li>Comer verduras</li>
                                                <li>Levantarme temprano</li>
                                                <li>Ir al médico</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Plan de apoyo al comportamiento
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Dieta y hábitos alimenticios
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Necesidades especiales
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <ul>
                                    <li>Cuchara adaptada</li>
                                    <li>Bebe con botella con pitorro</li>
                                    <li>Bebe con pajita</li>
                                    <li>Necesita adaptador de silla</li>
                                </ul>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Higiene y cuidado personal
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Mi familia
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Acerca de este pasarpote de comunicación
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <th scope="row">Creado por</th>
                                                    <td>Francisco Chicano</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Fecha de creación</th>
                                                    <td>20 de marzo de 2024</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Última modificación</th>
                                                    <td>21 de marzo de 2024 (Mark Rozas)</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>