<div class="container">
    <div class="row">
        <div class="col-12" *ngIf="isEditor()">
            <h1 class="text-center">Listado de pasaportes</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Identificador</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let pasaporte of pasaportes" class="align-middle">
                    <td>{{pasaporte.nombre}}</td>
                    <td>{{pasaporte.apellido1}} {{pasaporte.apellido2}}</td>
                    <td>{{pasaporte.id}}</td>
                    <td><button class="btn btn-sm btn-outline-primary m-1" (click)="verPasaporte(pasaporte)"><i class="bi bi-box-arrow-up-right"></i></button>
                        <button class="btn btn-sm btn-outline-primary m-1" (click)="mostrarQR(pasaporte)"><i class="bi bi-qr-code"></i></button>
                        <button class="btn btn-sm btn-outline-primary m-1" (click)="editarPasaporte(pasaporte)"><i class="bi bi-pencil-fill"></i></button>
                        <button (click)="eliminarPasaporte(pasaporte.id!)" class="btn btn-sm btn-outline-danger m-1"><i class="bi bi-trash-fill"></i></button></td>
                </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-outline-success bi bi-plus-lg" (click)="aniadirPasaporte()"></button>
        </div>
        <div class="col-12" *ngIf="!isEditor()">
            <p class="alert alert-danger">No tiene permisos para ver este contenido.</p>
        </div>
    </div>
</div>