<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Código QR</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <canvas #qrCodeImage
                        [qrCode]="url"
                        qrCodeErrorCorrectionLevel="H"
                        [width]="400"
                        [height]="400"
                ></canvas>
                <iframe #printFrame style="display:none;"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="descargarQR()">Descargar</button>
    <button type="button" class="btn btn-outline-dark" (click)="imprimirQR()">Imprimir</button>
</div>

